.row
  .col-lg-12
    %h1.page-header Make a Release Request

%form.form-horizontal
  .form-group
    %label.col-sm-2.control-label{:for => "jira_number"} JIRA Number
    .col-sm-2
      %input.form-control{:placeholder => "JIRA Number", :type => "text"}/
  .form-group
    %label.col-sm-2.control-label{:for => "qa"} QA
    .col-sm-2
      %select.form-control
        %option QA
  .form-group
    %label.col-sm-2.control-label{:for => "repository"} Repository
    .col-sm-2
      %select.form-control
        - @repositories.each do |repository|
          %option{:value => repository.id}= repository.name
  .form-group
    %label.col-sm-2.control-label{:for => "branch"} Branch
    .col-sm-2
      %select.form-control
        %option branch
    .col-sm-1
      %a#sync.btn.btn-primary.ladda-button{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Update when branch is not listed", "data-style" => "expand-left", :href => "#"}
        %span.ladda-label Sync Github
  .form-group
    %label.col-sm-2.control-label{:for => "SHA"} SHA
    .col-sm-2
      %input.form-control{:placeholder => "SHA", :type => "text"}/
  .form-group
    %label.col-sm-2.control-label{:for => "Deloyment Instruction"} Deloyment Instruction
    .col-sm-2
      %textarea.form-control{:rows => "5", :placeholder => "Deloyment Instruction"}
  .form-group
    %label.col-sm-2.control-label{:for => "Rollback Instruction"} Rollback Instruction
    .col-sm-2
      %textarea.form-control{:rows => "5", :placeholder => "Rollback Instruction"}
  .form-group
    .col-sm-offset-2.col-sm-1
      %button.btn.btn-success{:type => "submit"} Submit

:javascript
  Ladda.bind('#sync');
  $('[data-toggle="tooltip"]').tooltip()
